<%= form_for @product do |f| %>
  <div>
    <%= f.text_field :name, placeholder:"Product Name" %>
  </div>
   <div>
    <%= f.number_field :price, placeholder:"Price" %>
  </div>
    <div class="field">
        <% Category.all.each do |category| %>
        <%=  check_box_tag "product[category_ids][]", category.id,  @product.category_ids.include?(category.id)%>
        <%= category.name %> <br>
        <% end  %>
    </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>
